.container {
    padding: 30px;
}

.row {
    margin-bottom: 15px;
}

/* ul {
    list-style: none;
    padding-left: 0;
    display: inline-block;
} */

.book-card {
    padding: 3rem;
    border-radius: 0.375rem;
    border:1px solid #eee;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-top: 0;
}

button {
    background-color: rgb(59,130,246);
    color: #fff;
    padding: 10px 20px;
    font-size: large;
    border-style: none;
    border-radius: 10px;
}

#submit {
    width: 100%;
}

label {
    margin-bottom: 0.5rem;
    font-size: large;
    padding-left: 20px;
}

input {
    padding: 10px 20px;
    font-size: large;
    border-style: none;
    border-radius: 10px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    width: auto;
    height: auto;
    max-width: 80%;
    padding: 2rem;
    background-color: #fff;
}
.modal.active {
    transform: translate(-50%,-50%) scale(1);
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}